.content{
    background: black;
    height: 100vh;
    overflow: hidden;
  }
  .content h1{
    color: aliceblue;
    position: absolute;
    top: 15%;
    left: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: translate(-50%,-50%);
    z-index:1;
    font: size 80px;
    text-align:center;
  }
  .box ul li{
    position: absolute;
    width: 35px;
    height: 35px;
    life-style:none;
    opacity: 0;
    background: radial-gradient(deepskyblue,transparent,transparent);
    bottom: 0;
    left: 10vw;
    animation: animate 15s linear infinite;
  }
  .box ul li:nth-child(2){
    left: 37vw;
    animation-delay: 2s;
  }
  .box ul li:nth-child(3){
    left: 25vw;
    animation-delay: 4s;
  }
  .box ul li:nth-child(4){
    left: 60vw;
    animation-delay: 6s;
  }
  .box ul li:nth-child(5){
    left: 75vw;
    animation-delay: 4s;
  }
  @keyframes animate{
    0%{
        transform:scale(0);
        opacity: 1;
        bottom: 0;
    }
    100%{
        transform: scale(10);
        opacity: 0;
        bottom: 100vh;
    }
  }