@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


.color { 
  color:#E5E5E5;
  color:#4286F5;
  color:#A2EEEA;
  color:#82D8F1;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto', sans-serif;
  /* background: linear-gradient(to right,#82D8F1,#A2EEEA); */
  height: 100vh;
  background-color: #1B202C;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  width: 550px;
  height: 350px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  /* border-right: 30px solid #4286F5; */
  padding: 30px;
  border-radius: 5px;
}

.card h3{
  color:#4286F5;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.pass{
    margin-bottom: 20px;
  }
  .email{
    margin-bottom: 20px;
  }

.user label{
  font-size: 10px;
  text-transform: uppercase;
  color:#A1A1A1;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.pass label{
    font-size: 10px;
    text-transform: uppercase;
    color:#A1A1A1;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
.pass input{
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  background: #E5E5E5;
  font-size: 16px;
  padding: 10px;
}
.email input{
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
    background: #E5E5E5;
    font-size: 16px;
    padding: 10px;
  }

.more{
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  color:#A1A1A1;
  margin-bottom: 20px;
}

.more a{
  color:#4286F5;
  text-decoration: none;
}


.card button{
  background-color: #4286F5;
  color:#fff;
  width: 100%;
  height: 30px;
  border: none;
  border-radius :3px;
  text-transform: uppercase;
  font-size: 11px;
}
.content{
  background: black;
  height: 100vh;
  overflow: hidden;
}
.content h1{
  color: aliceblue;
  position: absolute;
  top: 20%;
  left: 50%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transform: translate(-50%,-50%);
  z-index:1;
  font: size 80px;
  text-align:center;
}
.box ul li{
  position: absolute;
  width: 35px;
  height: 35px;
  /* life-style:none; */
  opacity: 0;
  background: radial-gradient(deepskyblue,transparent,transparent);
  bottom: 0;
  left: 10vw;
  animation: animate 15s linear infinite;
}
.box ul li:nth-child(2){
  left: 37vw;
  animation-delay: 2s;
}
.box ul li:nth-child(3){
  left: 25vw;
  animation-delay: 4s;
}
.box ul li:nth-child(4){
  left: 60vw;
  animation-delay: 6s;
}
.box ul li:nth-child(5){
  left: 75vw;
  animation-delay: 4s;
}
@keyframes animate{
  0%{
      transform:scale(0);
      opacity: 1;
      bottom: 0;
  }
  100%{
      transform: scale(10);
      opacity: 0;
      bottom: 100vh;
  }
}